<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Start Code Generation"
            visible="true"
            id="crossing.e1.configurator.actionSet">
         <menu
               label="CogniCryptMenu"
               id="sampleMenu">
            <separator
                  name="CognicryptGroup">
            </separator>
         </menu>
         <action
               class="crossing.e1.configurator.actions.WizardAction"
               icon="icons/opencce.png"
               id="crossing.e1.configurator.actions.WizardAction"
               label="&amp;Start Code Generation"
               menubarPath="CogniCryptMenu/CogniCryptGroup"
               toolbarPath="CogniCryptGroup"
               tooltip="Generate Code For Cryptographic Task">
         </action>
      </actionSet>
   </extension>

</plugin>
