<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="org.eclipse.ui.preferencePages">
 	<page id="CogniCryptPreferencePage"
 		name="CogniCrypt"
    		class="de.cognicrypt.core.properties.CogniCryptpreferencePage">
    		<keywordReference id="de.cognicrypt.core.keyword_CogniCrypt"/>
   	</page>
   	
</extension>
      <extension point="org.eclipse.core.runtime.preferences">
         <initializer class="de.cognicrypt.core.properties.CogniCryptPreferenceInitializer"/>
      </extension>
      
      <extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="de.cognicrypt.core.keyword_CogniCrypt"
			label="CogniCrypt"/>
	</extension>
 
  <extension
      id="CogniCrypt"
      point="org.eclipse.core.runtime.products">
   <product
         application="org.eclipse.ui.ide.workbench"
         name="CogniCrypt">
   </product>
</extension>    
</plugin>
