<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.cognicrypt.staticanalyzer.handlers.StartupHandler">
      </startup>
   </extension>
<extension
         id="QuickFixTest.ProblemMarkerBuilder"
         name="ProblemMarkerBuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="quickfixtest.builder.ProblemMarkerBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="QuickFixTest.ProblemMarkerNature"
         name="ProblemMarkerNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="quickfixtest.builder.ProblemMarkerNature">
         </run>
      </runtime>
      <builder
            id="QuickFixTest.ProblemMarkerBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="ProblemMarkerNature commands"
            id="QuickFixTest.ProblemMarkerNature.category">
      </category>
      <command
            name="Add/RemoveproblemMarkerNature"
            defaultHandler="quickfixtest.builder.AddRemoveproblemMarkerNatureHandler"
            categoryId="QuickFixTest.ProblemMarkerNature.category"
            id="QuickFixTest.AddRemoveproblemMarkerNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="QuickFixTest.AddRemoveproblemMarkerNature"
               label="Disable QF builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              value="QuickFixTest.ProblemMarkerNature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="QuickFixTest.AddRemoveproblemMarkerNature"
               label="Enable QF builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 value="QuickFixTest.ProblemMarkerNature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="QuickFixTest.OCCEProblem"
         name="OCCE Problem"
         point="org.eclipse.core.resources.markers">
         <super 
         	type="org.eclipse.core.resources.textmarker">
         </super>
         <super
          	type="org.eclipse.jdt.core.problem">
    	</super>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
	<extension
      point="org.eclipse.jdt.ui.quickFixProcessors">
   		<quickFixProcessor
         	class="quickfixtest.quickfix.QuickFixProcessor"
         	id="org.eclipse.jdt.ui.text.correction.QuickFixProcessor"
         	name="QuickFixProcessor">
      	<handledMarkerTypes>
         	<markerType
               id="QuickFixTest.OCCEProblem">
         	</markerType>
      	</handledMarkerTypes>
   		</quickFixProcessor>
	</extension>
	<!--ErrorMarker-->
	<extension	
		  id="de.cognicrypt.staticanalyzer.ccMarker"
          name="CogniCrypt Problem"
          point="org.eclipse.core.resources.markers">
     	<super type="org.eclipse.core.resources.problemmarker"></super>
     	<attribute name = "error"></attribute>
     	<attribute name = "var"></attribute>
       <persistent value="false"></persistent>
    </extension>
    <extension
          id="de.cognicrypt.staticanalyzer.forbiddenMethodErrorMarker"
          name="Forbidden Method Problem"
          point="org.eclipse.core.resources.markers">
       <super type="de.cognicrypt.staticanalyzer.ccMarker"></super>
       <persistent value="false"></persistent>
    </extension>
    <extension
          id="de.cognicrypt.staticanalyzer.impreciseValueExtractionErrorMarker"
          name="Imprecise Value Extraction Problem"
          point="org.eclipse.core.resources.markers">
       <super type="de.cognicrypt.staticanalyzer.ccMarker"></super>
       <persistent value="false"></persistent>
    </extension>
    <extension
          id="de.cognicrypt.staticanalyzer.predicateContradictionErrorMarker"
          name="Predicate Contradiction Problem"
          point="org.eclipse.core.resources.markers">
       <super type="de.cognicrypt.staticanalyzer.ccMarker"></super>
       <persistent value="false"></persistent>
    </extension>
    <extension
          id="de.cognicrypt.staticanalyzer.requiredPredicateErrorMarker"
          name="Required Predicate Problem"
          point="org.eclipse.core.resources.markers">
       <super type="de.cognicrypt.staticanalyzer.ccMarker"></super>
       <persistent value="false"></persistent>
    </extension>
    <!--<extension
   		 id="de.cognicrypt.staticanalyzer.requiredPredicateErrorAnnotation"
   		 name="Required Predicate Annotation"
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="de.cognicrypt.staticanalyzer.requiredPredicateErrorMarker"
            name="de.cognicrypt.staticanalyzer.requiredPredicateErrorAnnotation">
      </type>
    </extension>
	<extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification"
         id="de.cognicrypt.staticanalyzer.requiredPredicateErrorAnnotationSpec">
      <specification
            annotationType="de.cognicrypt.staticanalyzer.requiredPredicateErrorAnnotation"
            includeOnPreferencePage="true"
            overviewRulerPreferenceKey="clruler"
            label="requiredPredicateErrorAnnotation"
			overviewRulerPreferenceValue="true"
			highlightPreferenceKey="highlight.background"
			highlightPreferenceValue="true"
			colorPreferenceKey="clcolor"
			colorPreferenceValue="205,255,205"
			textPreferenceKey="cltext"
			textPreferenceValue="true"
			presentationLayer="5"
			verticalRulerPreferenceKey="clvertical"
			verticalRulerPreferenceValue="true"
			textStylePreferenceKey="clstyle"
			textStylePreferenceValue="BOX">
      </specification>
   </extension>-->  
    <extension
          id="de.cognicrypt.staticanalyzer.constraintErrorMarker"
          name="Constraint Problem"
          point="org.eclipse.core.resources.markers">
       <super type="de.cognicrypt.staticanalyzer.ccMarker"></super>
       <persistent value="false"></persistent>
    </extension>
    <extension
          id="de.cognicrypt.staticanalyzer.neverTypeOfErrorMarker"
          name="Never TypeOf Problem"
          point="org.eclipse.core.resources.markers">
       <super type="de.cognicrypt.staticanalyzer.ccMarker"></super>
       <persistent value="false"></persistent>
    </extension>
     <extension
          id="de.cognicrypt.staticanalyzer.incompleteOperationErrorMarker"
          name="Incomplete Operation Problem"
          point="org.eclipse.core.resources.markers">
       <super type="de.cognicrypt.staticanalyzer.ccMarker"></super>
       <persistent value="false"></persistent>
    </extension>
     <extension
          id="de.cognicrypt.staticanalyzer.typestateErrorMarker"
          name="Typestate Problem"
          point="org.eclipse.core.resources.markers">
       <super type="de.cognicrypt.staticanalyzer.ccMarker"></super>
       <persistent value="false"></persistent>
    </extension>
    <!--MarkerResolution -->
	<extension 
	 point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="de.cognicrypt.staticanalyzer.ccMarker"
         class="de.cognicrypt.staticanalyzer.markerresolution.QuickFixer"/>
      <markerResolutionGenerator
         markerType="de.cognicrypt.staticanalyzer.forbiddenMethodErrorMarker"
         class="de.cognicrypt.staticanalyzer.markerresolution.QuickFixer"/>
      <markerResolutionGenerator
         markerType="de.cognicrypt.staticanalyzer.impreciseValueExtractionErrorMarker"
         class="de.cognicrypt.staticanalyzer.markerresolution.QuickFixer"/>
      <markerResolutionGenerator
         markerType="de.cognicrypt.staticanalyzer.predicateContradictionErrorMarker"
         class="de.cognicrypt.staticanalyzer.markerresolution.QuickFixer"/>
      <markerResolutionGenerator
         markerType="de.cognicrypt.staticanalyzer.requiredPredicateErrorMarker"
         class="de.cognicrypt.staticanalyzer.markerresolution.QuickFixer"/>
      <markerResolutionGenerator
         markerType="de.cognicrypt.staticanalyzer.constraintErrorMarker"
         class="de.cognicrypt.staticanalyzer.markerresolution.QuickFixer"/>
      <markerResolutionGenerator
         markerType="de.cognicrypt.staticanalyzer.neverTypeOfErrorMarker"
         class="de.cognicrypt.staticanalyzer.markerresolution.QuickFixer"/>
      <markerResolutionGenerator
         markerType="de.cognicrypt.staticanalyzer.incompleteOperationErrorMarker"
         class="de.cognicrypt.staticanalyzer.markerresolution.QuickFixer"/>
      <markerResolutionGenerator
         markerType="de.cognicrypt.staticanalyzer.typestateErrorMarker"
         class="de.cognicrypt.staticanalyzer.markerresolution.QuickFixer"/>
      </extension>
</plugin>
