<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.cognicrypt.staticanalyzer.handlers.StartupHandler">
      </startup>
   </extension>
<extension
         id="QuickFixTest.ProblemMarkerBuilder"
         name="ProblemMarkerBuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="quickfixtest.builder.ProblemMarkerBuilder">
         </run>
      </builder>
   </extension>
   <extension
                  point="org.eclipse.ui.menus">
               <menuContribution
                     allPopups="false"
                     locationURI="toolbar:org.eclipse.ui.main.toolbar">
                  <toolbar
                        id="de.cognicrypt.toolbar"
                        label="CogniCrypt">
                     <command
                           commandId="de.cognicrypt.staticanalyzer.runAnalysis"
                           icon="platform:/plugin/de.cognicrypt.core/icons/cognicrypt-analysis.png "
                           label="RunAnalysisToolBar"
                           style="push"
                           tooltip="Apply CogniCrypt Misuse Detection to Selected Project">
                     </command>
                  </toolbar>
               </menuContribution>
            </extension>
   <extension
         id="QuickFixTest.ProblemMarkerNature"
         name="ProblemMarkerNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="quickfixtest.builder.ProblemMarkerNature">
         </run>
      </runtime>
      <builder
            id="QuickFixTest.ProblemMarkerBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="ProblemMarkerNature commands"
            id="QuickFixTest.ProblemMarkerNature.category">
      </category>
      <command
            name="Add/RemoveproblemMarkerNature"
            defaultHandler="quickfixtest.builder.AddRemoveproblemMarkerNatureHandler"
            categoryId="QuickFixTest.ProblemMarkerNature.category"
            id="QuickFixTest.AddRemoveproblemMarkerNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="QuickFixTest.AddRemoveproblemMarkerNature"
               label="Disable QF builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              value="QuickFixTest.ProblemMarkerNature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="QuickFixTest.AddRemoveproblemMarkerNature"
               label="Enable QF builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 value="QuickFixTest.ProblemMarkerNature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="QuickFixTest.OCCEProblem"
         name="OCCE Problem"
         point="org.eclipse.core.resources.markers">
         <super 
         	type="org.eclipse.core.resources.textmarker">
         </super>
         <super
          	type="org.eclipse.jdt.core.problem">
    	</super>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
	<extension
      point="org.eclipse.jdt.ui.quickFixProcessors">
   		<quickFixProcessor
         	class="quickfixtest.quickfix.QuickFixProcessor"
         	id="org.eclipse.jdt.ui.text.correction.QuickFixProcessor"
         	name="QuickFixProcessor">
      	<handledMarkerTypes>
         	<markerType
               id="QuickFixTest.OCCEProblem">
         	</markerType>
      	</handledMarkerTypes>
   		</quickFixProcessor>
	</extension>
	 <extension 
	 point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="org.eclipse.core.resources.problemmarker"
         class="de.cognicrypt.staticanalyzer.markerresolution.QuickFixer"/>
   </extension>
   	 <!--ErrorMarker-->
	<extension	
		  id="de.cognicrypt.staticanalyzer.ccMarker"
          name="CogniCrypt Marker"
          point="org.eclipse.core.resources.markers">
     	<super type="org.eclipse.core.resources.problemmarker"></super>
     	<attribute name = "errorType"></attribute>
     	<attribute name = "errorJimpleCode"></attribute>
     	<attribute name = "crySLRuleName"></attribute>
       <persistent value="false"></persistent>
    </extension>
    <extension
          id="de.cognicrypt.staticanalyzer.forbiddenMethodErrorMarker"
          name="Forbidden Method Problem"
          point="org.eclipse.core.resources.markers">
       <super type="de.cognicrypt.staticanalyzer.ccMarker"></super>
       <persistent value="false"></persistent>
    </extension>
    <extension
          id="de.cognicrypt.staticanalyzer.impreciseValueExtractionErrorMarker"
          name="Imprecise Value Extraction Problem"
          point="org.eclipse.core.resources.markers">
       <super type="de.cognicrypt.staticanalyzer.ccMarker"></super>
       <persistent value="false"></persistent>
    </extension>
    <extension
          id="de.cognicrypt.staticanalyzer.predicateContradictionErrorMarker"
          name="Insecure Class Composition Problem"
          point="org.eclipse.core.resources.markers">
       <super type="de.cognicrypt.staticanalyzer.ccMarker"></super>
       <attribute name = "predicate"></attribute>
       <attribute name = "predicateParamCount"></attribute>
       <attribute name = "errorParam"></attribute>
       <attribute name = "errorParamIndex"></attribute>
       <persistent value="false"></persistent>
    </extension>
    <extension
          id="de.cognicrypt.staticanalyzer.requiredPredicateErrorMarker"
          name="Insecure Class Composition Problem"
          point="org.eclipse.core.resources.markers">
       <super type="de.cognicrypt.staticanalyzer.ccMarker"></super>
       <persistent value="false"></persistent>
    </extension>
    <extension
          id="de.cognicrypt.staticanalyzer.constraintErrorMarker"
          name="Incorrect Parameter Problem"
          point="org.eclipse.core.resources.markers">
       <super type="de.cognicrypt.staticanalyzer.ccMarker"></super>
       <persistent value="false"></persistent>
    </extension>
    <extension
          id="de.cognicrypt.staticanalyzer.neverTypeOfErrorMarker"
          name="Wrong Type Problem"
          point="org.eclipse.core.resources.markers">
       <super type="de.cognicrypt.staticanalyzer.ccMarker"></super>
       <persistent value="false"></persistent>
    </extension>
     <extension
          id="de.cognicrypt.staticanalyzer.incompleteOperationErrorMarker"
          name="Missing Method Call Problem"
          point="org.eclipse.core.resources.markers">
       <super type="de.cognicrypt.staticanalyzer.ccMarker"></super>
       <persistent value="false"></persistent>
    </extension>
     <extension
          id="de.cognicrypt.staticanalyzer.typestateErrorMarker"
          name="Incorrect Method Call Problem"
          point="org.eclipse.core.resources.markers">
       <super type="de.cognicrypt.staticanalyzer.ccMarker"></super>
       <persistent value="false"></persistent>
    </extension>
    
    <extension
         point="org.eclipse.ui.views">
      <category
            name="Cognicrypt"
            id="Cognicrypt">
      </category>
      <view
            category="Cognicrypt"
            class="de.cognicrypt.staticanalyzer.view.StatisticsView"
            icon="platform:/plugin/de.cognicrypt.core/icons/cognicrypt.png "
            id="de.cognicrypt.staticanalyzer.view.StatisticsView"
            inject="true"
            name="Statistics">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
      </perspectiveExtension>
   </extension>
    
    <!--MarkerResolution -->
	<extension 
	 point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="de.cognicrypt.staticanalyzer.ccMarker"
         class="de.cognicrypt.staticanalyzer.markerresolution.QuickFixer"/>
      <markerResolutionGenerator
         markerType="de.cognicrypt.staticanalyzer.forbiddenMethodErrorMarker"
         class="de.cognicrypt.staticanalyzer.markerresolution.QuickFixer"/>
      <markerResolutionGenerator
         markerType="de.cognicrypt.staticanalyzer.impreciseValueExtractionErrorMarker"
         class="de.cognicrypt.staticanalyzer.markerresolution.QuickFixer"/>
      <markerResolutionGenerator
         markerType="de.cognicrypt.staticanalyzer.predicateContradictionErrorMarker"
         class="de.cognicrypt.staticanalyzer.markerresolution.QuickFixer"/>
      <markerResolutionGenerator
         markerType="de.cognicrypt.staticanalyzer.requiredPredicateErrorMarker"
         class="de.cognicrypt.staticanalyzer.markerresolution.QuickFixer"/>
      <markerResolutionGenerator
         markerType="de.cognicrypt.staticanalyzer.constraintErrorMarker"
         class="de.cognicrypt.staticanalyzer.markerresolution.QuickFixer"/>
      <markerResolutionGenerator
         markerType="de.cognicrypt.staticanalyzer.neverTypeOfErrorMarker"
         class="de.cognicrypt.staticanalyzer.markerresolution.QuickFixer"/>
      <markerResolutionGenerator
         markerType="de.cognicrypt.staticanalyzer.incompleteOperationErrorMarker"
         class="de.cognicrypt.staticanalyzer.markerresolution.QuickFixer"/>
      <markerResolutionGenerator
         markerType="de.cognicrypt.staticanalyzer.typestateErrorMarker"
         class="de.cognicrypt.staticanalyzer.markerresolution.QuickFixer"/>
      </extension>
            <extension
                  point="org.eclipse.ui.menus">
               <menuContribution
                     allPopups="false"
                     locationURI="popup:de.cognicrypt.core.menu">
                  <command
                        commandId="de.cognicrypt.staticanalyzer.runAnalysis"
                        icon="platform:/plugin/de.cognicrypt.core/icons/cognicrypt-analysis.png "
                        label="Run CogniCrypt Analysis on Selected Project"
                        style="push">
                  </command>
               </menuContribution>
            </extension>
            <extension
                  point="org.eclipse.ui.menus">
               <menuContribution
                     allPopups="false"
                     locationURI="popup:de.cognicrypt.core.menu">
                  <command
                        commandId="de.cognicrypt.staticanalyzer.runAnalysisOnDependencies"
                        icon="platform:/plugin/de.cognicrypt.core/icons/cognicrypt-analysis.png "
                        label="Run CogniCrypt Analysis on Selected Project's Dependencies"
                        style="push">
                  </command>
               </menuContribution>
            </extension>
            <extension
                  point="org.eclipse.ui.commands">
               <command
                     defaultHandler="de.cognicrypt.staticanalyzer.handlers.RunAnalysisHandler"
                     id="de.cognicrypt.staticanalyzer.runAnalysis"
                     name="RunAnalysis">
               </command>
            </extension>
                        <extension
                  point="org.eclipse.ui.commands">
               <command
                     defaultHandler="de.cognicrypt.staticanalyzer.handlers.RunAnalysisOnDependenciesHandler"
                     id="de.cognicrypt.staticanalyzer.runAnalysisOnDependencies"
                     name="RunAnalysisOnDependencies">
               </command>
            </extension>
</plugin>
   