<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

<extension
      id="wizard"
      name="Holiday"
      point="org.eclipse.ui.newWizards">
   <category
         name="Article Wizards"
         id="wizard.category1">
   </category>
   <wizard
         name="Your Holiday"
         icon="icons/wizard.gif"
         category="wizard.category1"
         class="com.xyz.article.wizards.HolidayWizard"
         id="wizard.wizard1">
      <description>
      	Describe your holiday choices
      </description>
   </wizard>
</extension>

<extension
      point="org.eclipse.ui.popupMenus">
   <objectContribution
         objectClass="org.eclipse.core.resources.IFolder"
         id="com.xyz.article.wizards.popup1">
      <action
            label="Your holiday"
            icon="icons/action.gif"
            class="com.xyz.article.wizards.HolidayAction"
            id="wizard.action1">
      </action>
   </objectContribution>
</extension>


</plugin>