<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.cognicrypt.crysl.handler.StartupHandler">
      </startup>
   </extension>
   
	<extension 
		id="cryslbuilder" 
   		name="CrySL Builder" 
   		point="org.eclipse.core.resources.builders"> 
      	<builder hasNature="true"> 
			<run class="de.cognicrypt.crysl.builder.CrySLBuilder"/>
      	</builder> 
   </extension> 
   
     <extension 
   		id="cryslnature" 
   		name="CrySL Nature" 
   		point="org.eclipse.core.resources.natures"> 
      	<runtime> 
        	<run class="de.cognicrypt.crysl.builder.CrySLNature"/> 
      	</runtime> 
       	<requires-nature
            id="org.eclipse.jdt.core.javanature">
    	</requires-nature>
      	<builder id="de.cognicrypt.crysl.handler.cryslbuilder"/> 
   </extension> 
   
   <extension
                  point="org.eclipse.ui.menus">
               <menuContribution
                     allPopups="false"
                     locationURI="popup:org.eclipse.ui.popup.any">
                  <menu
                        commandId="de.cognicrypt.cryslhandler.ruleconvertercommand"
                        id="de.cognicrypt.crysl.handler.singleConvertMenu"
                        label="CrySL Rules">
                     <command
                           commandId="de.cognicrypt.cryslhandler.ruleconvertercommand"
                           label="Convert this CrySL Rule"
                           style="push">
                     </command>
                     <visibleWhen
                           checkEnabled="true">
                        <with
                              variable="activeMenuSelection">
                           <iterate
                                 ifEmpty="false"
                                 operator="or">
                              <adapt
                                    type="org.eclipse.core.resources.IResource">
                                 <test
                                       property="org.eclipse.core.resources.extension"
                                       value="crysl">
                                 </test>
                              </adapt>
                           </iterate>
                        </with>
                     </visibleWhen>
                  </menu>
               </menuContribution>
            </extension>
            
            <extension
                  point="org.eclipse.ui.commands">
               <command
                     defaultHandler="de.cognicrypt.crysl.handler.RunRuleConverterHandler"
                     id="de.cognicrypt.cryslhandler.ruleconvertercommand"
                     name="ConvertRule">
               </command>
            </extension>

</plugin>
