<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Start Code Generation"
            visible="true"
            id="de.cognicrypt.codegenerator.actionSet">
         <menu
               label="CogniCryptMenu"
               id="cognicryptmenu">
            <separator
                  name="CognicryptGroup">
            </separator>
         </menu>
         <action
               class="de.cognicrypt.codegenerator.actions.WizardAction"
               icon="platform:/plugin/de.cognicrypt.core/icons/cognicrypt.png "
               id="de.cognicrypt.codegenerator.actions.WizardAction"
               label="&amp;Launch CogniCrypt Code Generation"
               toolbarPath="CogniCryptGroup"
               tooltip="Generate Code For Cryptographic Task">
         </action>
      </actionSet>
   </extension>
   <extension
                  point="org.eclipse.ui.menus">
               <menuContribution
                     allPopups="false"
                     locationURI="popup:de.cognicrypt.core.menu">
                  <command
                        commandId="de.cognicrypt.codegenerator.rungenerator"
                        label="Run CogniCrypt Code Generator"
                        style="push">
                  </command>
               </menuContribution>
            </extension>
            <extension
                  point="org.eclipse.ui.commands">
               <command
                     defaultHandler="de.cognicrypt.codegenerator.actions.RunCodeGeneratorHandler"
                     id="de.cognicrypt.codegenerator.rungenerator"
                     name="RunCodeGenerator">
               </command>
            </extension>
</plugin>
