<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
                  point="org.eclipse.ui.menus">
               <menuContribution
                     allPopups="false"
                     locationURI="popup:de.cognicrypt.core.menu">
                  <command
                        commandId="de.cognicrypt.codegenerator.rungenerator"
                        icon="platform:/plugin/de.cognicrypt.core/icons/cognicrypt-codegen.png"
                        label="Run CogniCrypt Code Generator"
                        style="push">
                  </command>
               </menuContribution>
            </extension>
            <extension
                  point="org.eclipse.ui.commands">
               <command
                     defaultHandler="de.cognicrypt.codegenerator.actions.RunCodeGeneratorHandler"
                     id="de.cognicrypt.codegenerator.rungenerator"
                     name="RunCodeGenerator">
               </command>
            </extension>
            <extension
                  point="org.eclipse.ui.menus">
               <menuContribution
                     allPopups="false"
                     locationURI="toolbar:org.eclipse.ui.main.toolbar">
                  <toolbar
                        id="de.cognicrypt.toolbar"
                        label="CogniCrypt">
                     <command
                           commandId="de.cognicrypt.codegenerator.rungenerator"
                           icon="platform:/plugin/de.cognicrypt.core/icons/cognicrypt-codegen.png"
                           label="RunCodeGeneratorToolBar"
                           style="push"
                           tooltip="Generate Code For Cryptographic Task">
                     </command>
                  </toolbar>
               </menuContribution>
            </extension>
            <extension
                  id="crysltemplate_category"
                  name="CrySL Template Proposals"
                  point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
                  <proposalCategory/>
            </extension>
            <extension
            	id="crysltemplate_proposal"
                  point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
                  <javaCompletionProposalComputer
                  	class="de.cognicrypt.codegenerator.ui.contentassist.CustomCompletionProposalComputer"
      				categoryId="de.cognicrypt.codegenerator.ui.contentassist.crysltemplate_category"
      				activate="true">
   				</javaCompletionProposalComputer>
            </extension>
</plugin>
